@model HastaneRandevuSau.Models.Iletisim

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Iletisim</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IletisimId" />
            <div class="form-group">
                <label asp-for="RandevuNumarasi" class="control-label"></label>
                <input asp-for="RandevuNumarasi" class="form-control" />
                <span asp-validation-for="RandevuNumarasi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mesaj" class="control-label"></label>
                <input asp-for="Mesaj" class="form-control" />
                <span asp-validation-for="Mesaj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IletisimNumarasi" class="control-label"></label>
                <input asp-for="IletisimNumarasi" class="form-control" />
                <span asp-validation-for="IletisimNumarasi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Listeye dön</a>
</div>

