@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Merhabalar.</h1>
    <p class="text-black">Sakarya Üniversitesi Web Programlama Dersi Ödevi.</p>
    <p>Aşağıdaki butonlardan veya yukarıdaki sekmeleri kullanarak işlemlerinizi gerçekleştirebilirsiniz</p>
    <p>Oluşturduğunuz bir randevuyu iptal etmek, güncellemek ve diğer sorunlarınız için Destek Talebi Oluştur sekmesinden yöneticiye mesaj atabilirsiniz</p>
    
        
    
</div>

<ul class="list-group">
    <li class="list-group-item list-group-item-primary">
        <a class="nav-link text-black" asp-area="" asp-controller="Doktors" asp-action="IndexUser">Doktorları görüntülemek için tıklayınız</a>
    </li>
    <li class="list-group-item list-group-item-secondary">
        <a class="nav-link text-black" asp-area="" asp-controller="DoktorCalismas" asp-action="IndexUser">Doktorların Çalışma Saatlerini görüntülemek için tıklayınız</a>
    </li>
    <li class="list-group-item list-group-item-success">
        <a class="nav-link text-black" asp-area="" asp-controller="Randevus" asp-action="IndexUser">Dolu Randevuları görüntülemek için tıklayınız</a>
    </li>
    <li class="list-group-item list-group-item-dark">
        <a class="nav-link text-black" asp-area="" asp-controller="Randevus" asp-action="Create">Randevu Oluşturmak için tıklayınız</a>
    </li>
    <li class="list-group-item list-group-item-warning">
        <a class="nav-link text-black-50" asp-area="" asp-controller="Iletisims" asp-action="Create">Destek Talebi Oluşturmak için tıklayınız</a>
    </li>
    <li class="list-group-item list-group-item-info">
        <a class="nav-link text-black" asp-area="" asp-controller="Ingilizce" asp-action="Index">If you want it to be in English. You can click</a>
    </li>
</ul>