@page
@model RegisterModel
@{
    ViewData["Title"] = "Kayıt Ol";
}

<style>
    /* Özelleştirilmiş stiller */
    body {
        background-color: #f8f9fa;
    }

    .container {
        margin-top: 50px;
    }

    .form-section {
        padding: 20px;
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    }

    .form-title {
        color: #343a40;
        font-size: 24px;
        margin-bottom: 15px;
    }

    .form-label {
        font-weight: bold;
    }

    .form-floating {
        margin-bottom: 15px;
    }

        .form-floating input {
            border: none;
            border-bottom: 1px solid #343a40;
            border-radius: 0;
            padding: 10px;
        }

        .form-floating label {
            color: #343a40;
        }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }

    .h1baslik{
        text-align:center;
        justify-content:center;
        align-items:center;    
    }
</style>

<h1 class="h1baslik">@ViewData["Title"]</h1>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <section class="form-section">
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <h2 class="form-title">Yeni Hesap Oluştur</h2>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-floating">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                        <label class="form-label" asp-for="Input.Email"></label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                        <label class="form-label" asp-for="Input.Password">Şifrenizi giriniz</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                        <label class="form-label" asp-for="Input.ConfirmPassword">Şifreyi tekrar giriniz</label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Kayıt Ol</button>
                </form>
            </section>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
